.imageSizes {
    display: block;
    width: 100%;
    height: auto;
}
.imageSize {
    width: 130px;
    transition: width 0.5s;
}
.width__2x {
    width: 260px;
}

.output img {
    width: 50px;
    height: 50px;
}

.positive-value {
    box-shadow: green 0 0 10px;
}

.negative-value {
    box-shadow: red 0 0 10px;
}

.max-num {
    color: red;
}
.fieldset {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.textDiv {
    padding: 10px;
}
#cut {
    margin: 10px;
}
#numbersFromTable {
    width: 20rem;
}

.countryList > li {
    cursor: pointer;
}

.cityList {
    display: none;
}

.show {
    display: block;
}

.tableSum > td, .td {
    width: 3rem;
    height: 2rem;
    padding: 5px;
}

.activeTd {
    background-color: indianred;
}

.inputOut {
    width: 3rem;
    height: 2rem;
}

.tableChanged {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    cursor: pointer;
}

label, input {
    cursor: pointer;
    user-select: none;
}
